.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #FFF;
    aspect-ratio: 16/10;
    background-color: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    transition: background-color 0.4s ease-in-out 0.2s;
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
}