.places {
    margin: 92px auto;
    max-width: 984px;
}

@media screen and (max-width: 1152px) {
    .places {
        max-width: 928px;
    }
 }

 @media screen and (max-width: 950px) {
    .places {
       max-width: 100%;
       margin: 88px 24px;
    }
 }

@media screen and (max-width: 460px) {
    .places {
        margin: 64px 0;
    }
}