.introduction__title {
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .introduction__title {
        font-size: 54px;
        line-height: 58px;
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .introduction__title {
        font-size: 43px;
        line-height: 46px;
    }
}

@media screen and (max-width: calc((768px + 320px) / 2)) {
    .introduction__title {
        font-size: 32px;
        line-height: 35px;
    }
}