.cover__subtitle {
max-width: 360px;
max-height: 66px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
/* padding: 0px 412px 245px; */
margin: 0;
}