.cover__subtitle {
    /* max-width: 360px; */
    /* max-height: 66px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 412px 245px;
    margin: 0;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        padding: 0 332px 195px;
    }
}

@media (max-width: 1000px) {
    .cover__subtitle {
        padding: 0 204px 115px;
    }
}

@media (max-width: 600px) {
    .cover__subtitle {
        padding: 0 16px 33px;
    }
}