.cover {
    background-image: url("../../images/cover-trains.jpg");
    max-width: 1184px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto 92px;
    padding: 0;
}

@media (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin-bottom: 64px;
    }
}