.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  transition: opacity 0.2s linear;
}

.place__link:hover {
  opacity: 0.8;
}