.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto 24px;
    max-width: 1184px;
    padding: 0 48px;
}
@media screen and (max-width: 1152px) {
    .footer {
        max-width: 928px;
    }
 }

@media screen and (max-width: 768px) {
    .footer {
        margin-bottom: 24px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        padding: 0 16px;
    }
}