.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0px 0px 12px 0px;
    text-transform: uppercase;
}

@media (max-width: calc((1024px + 768px) / 2)) {
    .place__url-heading {
        line-height: 12px;
    }
}