.photos {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1184px;
    gap: 16px;
    padding: 0 48px;
}

@media screen and (max-width: 1090px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 950px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 24px;
    }
}

@media  (max-width: calc((768px + 320px) / 2)) {
    .photos {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        padding: 0 16px;
    }
}